body {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#sidebar {
    width: 250px;
    min-height: calc(100vh - 56px - 40px);
    transition: transform 0.3s ease, width 0.3s ease;
    overflow: hidden;
}

#sidebar.collapsed {
    width: 0 !important;
    padding: 0 !important;
    transform: translateX(-100%);
}

/* Painel de Notificações à Direita */
#notificationPanel {
    width: 300px;
    min-height: calc(100vh - 56px - 40px);
    transition: transform 0.3s ease;
    transform: translateX(100%);
    position: relative;
    z-index: 1030;
}

#notificationPanel.active {
    transform: translateX(0);
}

#mainContent {
    min-height: calc(100vh - 56px - 40px);
    background-color: #f8f9fa;
    transition: margin 0.3s ease;
}

footer {
    height: 40px;
    margin-top: auto;
}


.nav-link[aria-expanded="true"]::after {
    content: "▲";
    float: right;
}
.nav-link[aria-expanded="false"]::after {
    content: "▼";
    float: right;
}
